
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }
    .menu {
      margin-bottom: 20px;
    }
    .botones {
      display: flex;
      justify-content: center;
      gap: 15px;
    }
    .boton {
      padding: 10px 20px;
      background-color: #f6f7f8;
      color: rgb(5, 5, 5);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    .boton:hover {
      background-color: #2980b9;
    }
